body{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
}
.footer{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    background-color: black; 
}
.img-background-footer{
    width: 100%;
    height: 1200px;
    overflow: hidden;
    background-image: url("../components/image/bike discount.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.banner-text{
    color: white;
    margin-top: 10rem;
    margin-left: 10rem; 
}
.banner-text h1 {
    font-size: 50px;
    width: 60%;
}
.banner-text p{
    font-size: 35px;
    width: 60%;
}
.btn{
    background-color: #F9F9F9;
    color: black;
    font-size: 30px;
    border-radius: 60px;
    width: 350px;
    height: 85px;
    cursor: pointer;
    margin-top: 70px;
}
.btn:hover{
    background-color: black;
    color: white;
}

.last-footer{
    width: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;  
    font-size: 30px;
    margin-top: 30px;
}
.box{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: black;
    text-align: center;
}
@media(max-width:767px){
    .banner-text{
        margin-left: 50px;
    }
    .banner-text h1{
        width: 100%;
        font-size: 40px;
    }
    .banner-text p{
        width: 70%;
        font-size: 25px;
    }
    .last-footer { 
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all .10s ease;
    }
   .last-footer p{
        margin-top: 10px;
   }
   .btn{
    background-color: #F9F9F9;
    color: black;
    font-size: 25px;
    border-radius: 60px;
    width: 250px;
    height: 85px;
    cursor: pointer;
    margin-top: 80px;
    }
}
