<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bike.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box-bar-bike">
        
            <div class="box-bar">
               
            
      
    
  
       
          
        
         <div class="txt">
            <h2>Mountain</h2>
          
            <p>A versatile type of bike designed to tackle a variety of terrains, including asphalt roads, gravel, dirt, and trails. These bikes are ideal for adventure and exploring diverse terrains.</p>
        </div>
         <div id="mountain-iteam" style="display: flex; gap: 5px">

          </div>
        </div>

    </div>
    <script src="bike2-viwe.js"></script>
</body>
</html>
