<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bike.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box-bar-bike">
        
            <div class="box-bar">
               
            
      
    
  
       
          
        
                <div class="txt">
                    <h2>Folding</h2>
                   
                    <p>A type of bike that can be folded into a smaller, portable size for easy storage and transportation. Despite their smaller size, most folding bikes can still provide decent performance for daily use in the city.</p>
                </div>
                  <div id="mmx-iteam" style="display: flex; gap: 5px  ;">
        
                  </div>
        </div>

    </div>
    <script src="../components/bike3.js"></script>
</body>
</html>