body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .kiss{
    width: 100%;
    overflow: hidden;
  }
  .hander-background{
    width: 100%;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../components/img-1/hand.jpeg");
  }
  .fan{
    width: 500px;
    height: 82px;
   
  }
  .fan h3{
    width: 600;
    font-size: 20px;
    line-height: 5; 
    padding:  330px 0 0 150px ;
  }
  .fan h1{
    width: 400;
    font-size: 40px;
    line-height: 20px;
    font-family: "Shrikhand", serif;
    padding: 0 330px  0 150px ;
  }
  @media(max-width:500px){
    .kiss{
        width: 100%;
        overflow: hidden;
      }
    .hander-background{
        min-width: 115%;
        /* height: 1200px; */
    }
    .fan{
      /* padding-bottom: 190px; */
       width: 100%;
        height: 82px;
      
      }
      .fan h3{
        width: 600;
        font-size: 15px;
        line-height: 4;
        padding:  200px 0 0 50px ;
      }
      .fan h1{
        width: 400;
        font-size: 30px;
        line-height: 15px;
        padding: 0 200px  0 50px ;

      }
  }
  @media(max-width:350px){
    .kiss{
        width: 100%;
        overflow: hidden;
      }
    .hander-background{
       width: 20%;
    }
    .fan{
       width: 100%;
        height: 82px;
      }
      .fan h3{  
        font-size: 13px;
        line-height: 3;
        padding:  200px 0 0 50px ;
      }
      .fan h1{
        font-size: 25px;
        line-height: 15px;
        padding: 0 200px  0 50px ;

      }
  }