<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/components/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Slider</title>
</head>

<body>
    <div class="slider-container">
        
        <div class="title">
            <div class="title-1">
            <h1>New Arrivals</h1></div>
           <div class="title-2">
            <a href=""><i class="fa-solid fa-angle-right"></i></a>
            <a href=""><i class="fa-solid fa-angle-left"></i></a>
        </div>
        </div>
      
        <div class="slider">

            <div class="slide">
                <div class="box1">
                    <img src="img/bike1.png" alt="">
                </div>
                <div class="box2">
                    <div class="life">
                        <h4>Roadbike-Specialized</h4>
                        <h2>Diverge Elite E5</h2>
                        <p>$2,000</p>
                    </div>
                    <div class="right">
                        <h2>New</h2>
                        <h3>$1,799.99</h3>
                    </div>
                </div>
            </div> 
            <div class="slide" >
                <div class="box1">
                    <img src="img/bike3.png" alt="">
                </div>
                <div class="box2">
                    <div class="life">
                        <h4>Mountain Bike - Specialized</h4>
                        <h2>Rockhopper 27.5</h2>
                        <p>$650</p>
                    </div>
                    <div class="right">
                        <h2>Used</h2>
                        <h3>$599.99</h3>
                    </div>
                </div>
            </div> 
            
            <div class="slide" >
                <div class="box1">
                    <img src="img/bike2.png" alt="">
                </div>
                <div class="box2">
                    <div class="life">
                        <h4>Hybird - Specialized</h4>
                        <h2>Turbo Vado SL 5.0</h2>
                        <p>$5,250</p>
                    </div>
                    <div class="right">
                        <h2>Used</h2>
                        <h3>$4000.00</h3>
                    </div>
                </div>
            </div> 
            <div class="slide" >
                <div class="box1">
                    <img src="img/bike5.png" alt="">
                </div>
                <div class="box2">
                    <div class="life">
                        <h4>Roadbike - United</h4>
                        <h2>Strattos S7D</h2>
                        <p>$2,000</p>
                    </div>
                    <div class="right">
                        <h2>New</h2>
                        <h3>$1,450.00</h3>
                    </div>
                </div>
            </div> 
        </div>


    </div>

    
</body>
</html>