<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bike.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box-bar-bike">
        
            <div class="box-bar">
                <div class="txt">
                    <h2>Road</h2>
                    
                    <p>A type of bicycle specifically designed for road use. They are ideal for long-distance cycling, bike racing, or everyday use on the road.</p>
                </div>
            
      
    
  
         <div id="road-iteam" style="display: flex; gap: 5px">

          </div> 
        
          </div>

    </div>
    <script src="road-viwe.js"></script>
</body>
</html>