<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="slider.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="glider.min.css">
</head>
<body>
  <section class="P-slider">
    <h3 class="heading-slider">New Arrivals</h3>
    <div class="slider-btns">
        <button aria-label="Previous" class="glider-prev">
            <span></span>
        </button>
        <button aria-label="Next" class="glider-next">
            <span></span>
        </button>
    </div>
    <div class="glider-contain">
    
        <div class="glider">
            <div class="product-box">
                <div class="p-img-container">
                    <div class="p-img">
                        <a href="#">
                            <img src="../components/img-1/bike-2.png" class="p-img-front" alt="front">
                            <img src="../components/img-1/bike-3.png" class="p-img-back" alt="back">
                        </a>
                    </div>
                 </div> 
                <div class="p-box-text">
                        <div class="prodect-bike">
                            <span>Road bike-Specialized</span>
                        </div>
                        <a href="#" class="p-title">
                            <h1>Diverge Elite E5</h1>
                            <h2>New</h2>
                        </a>
                        <div class="price-buy">
                            <span class="p-price">$2000</span>
                            <span class="p-price1">$1,799.99</span>
                        </div>
                    </div>
               </div>

       

    
            <div class="product-box">
                <div class="p-img-container">
                    <div class="p-img">
                        <a href="#">
                            <img src="../components/img-1/bike1-3.png" class="p-img-front" alt="front">
                            <img src="../components/img-1/bike1-2.png" class="p-img-back" alt="back">
                        </a>
                    </div>
                 </div> 
                <div class="p-box-text">
                        <div class="prodect-bike">
                            <span>Mountain Bike - Specialized</span>
                        </div>
                        <a href="#" class="p-title">
                            <h1>Rockhopper 27.5</h1>
                            <h2>Uesd</h2>
                        </a>
                        <div class="price-buy">
                            <span class="p-price">$650</span>
                            <span class="p-price1">$599.99</span>
                        </div>
                    </div>
               </div>

        


      
            <div class="product-box">
                <div class="p-img-container">
                    <div class="p-img">
                        <a href="#">
                            <img src="../components/img-1/bike2-1.png" class="p-img-front" alt="front">
                            <img src="../components/img-1/bike2-2.png" class="p-img-back" alt="back">
                        </a>
                    </div>
                 </div> 
                <div class="p-box-text">
                        <div class="prodect-bike">
                            <span>Hybird - Specialized</span>
                        </div>
                        <a href="#" class="p-title">
                            <h1>Turbo Vado SL 5.0</h1>
                            <h2>Uesd</h2>
                        </a>
                        <div class="price-buy">
                            <span class="p-price">$5,250</span>
                            <span class="p-price1">$4800.00</span>
                        </div>
                    </div>
               </div>

       


       
            <div class="product-box">
                <div class="p-img-container">
                    <div class="p-img">
                        <a href="#">
                            <img src="../components/img-1/bike3-1.png" class="p-img-front" alt="front">
                            <img src="../components/img-1/bike3-2.png" class="p-img-back" alt="back">
                        </a>
                    </div>
                 </div> 
                <div class="p-box-text">
                        <div class="prodect-bike">
                            <span>Gravel - Polygon</span>
                        </div>
                        <a href="#" class="p-title">
                            <h1>Tambora G4</h1>
                            <h2>Uesd</h2>
                        </a>
                        <div class="price-buy">
                            <span class="p-price">$1000</span>
                            <span class="p-price1">$650.00</span>
                        </div>
                    </div>
               </div>

      
          </div>
       
        
      </div>
      

  </section>
  <script src="glider.min.js"></script>

  <script>
    new Glider(document.querySelector('.glider'), {
  slidesToScroll: 1,
  slidesToShow: 3,
  draggable: true,
  dots: '.dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  },
  responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 1200,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: '3',
        slidesToScroll: '2',

      }
    },{
      // screens greater than >= 1024px
      breakpoint: 900,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 2,
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 500,
      settings: {
        slidesToShow: 1.5,
        slidesToScroll: 1,
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 302,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 0,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
      }
    }
    ]
});
  </script>
</body>
</html>